@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* FORMULARIO NUEVO BOOSTRA */
textarea.form-control {
  height: 100px !important;
}

button.btn.btn-primary {
  margin-top: 20px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.col {
  width: 50%;
}

.d-md-block {
  display: grid !important;
  align-content: center !important;
  justify-content: center;
  align-items: center;
}

/* LOGO PCT */
a.logo-de-pag {
  font-size: 30px;
}

.navbar.navbar-dark.bg-dark.fixed-top {
  display: none;
}

body { /* Resetear los estilos por defecto y aplicar estilos a la página */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header { /* Estilos del encabezado (header) y el menú de navegación (nav) */
  color: #fff;
  padding: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 20;
}
header nav {
  float: right; /* Colocar el menú a la derecha */
}
header ul { /* Estilos de la lista desordenada (ul) del menú */
  list-style: none;
  margin: 0;
  padding: 0;
}
header li { /* Estilos de los elementos de la lista (li) del menú */
  display: inline; /* Mostrar los elementos del menú en línea (uno al lado del otro) */
  margin-right: 30px; /* Espacio entre elementos del menú */
  font-size: 13px;
}
header .nav {
  float: left;
}
header a { /* Estilos de los enlaces (a) del menú */
  text-decoration: none;
  color: #fff;
  transition-property: all;
  transition-duration: 0.5s;
}
header a:hover {
  color: #B89840;
  transform: scale(1.2);
}

#imagen-fondo {
  background-image: url("../images/fondo.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  width: 100% !important;
  height: 90vh !important;
  filter: brightness(0.3);
  background-position: center;
}

.title-mid h1 {
  color: #B89840;
  left: 0px;
  right: 0px;
  top: 30%;
  position: absolute;
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
}

.btn-mas {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  right: 0;
  left: 0;
  position: absolute;
}
.btn-mas a {
  color: #B89840;
  left: 0px;
  right: 0px;
  top: 80%;
  position: absolute;
  text-align: center;
  transition-property: all;
  transition-duration: 0.5s;
  text-decoration: none;
  position: relative !important;
  bottom: 80px;
}
.btn-mas a:hover { /* BOTON VER MAS */
  color: white;
  transform: scale(1.2);
}

/*aca finaliza la primera seccion del inicio de la pagina de INICIO*/
/*aqui inicia la segunda seccion de la pagina de INICIO*/
#seccion2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#seccion2 .texto1 {
  text-align: center;
  font-size: 16px;
}
#seccion2 .texto2 {
  text-align: center;
  font-size: 38px;
  margin: 20px 0px;
}
#seccion2 .caja-padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px 0px;
}
#seccion2 .caja-hija {
  width: 60%;
  text-align: center;
}

/*aca finaliza la segunda seccion de la pagina de INICIO*/
/*aca inicia la tercera seccion de la pagina de INICIO*/
#seccion3 {
  background-color: #232221;
  padding-top: 50px;
  padding-bottom: 50px;
}
#seccion3 .titulo-s3 {
  text-align: center;
  font-size: 16px;
  color: #B89840;
  padding-top: 8px;
}
#seccion3 .pregunta-s3 {
  text-align: center;
  color: aliceblue;
  font-size: 70px;
}
#seccion3 .parrafo-s3 {
  text-align: center;
  color: aliceblue;
  font-size: 39px;
}
#seccion3 .botton-s3 {
  text-align: center;
  padding-bottom: 20px;
}
#seccion3 .form-primero {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*aca finaliza la tercera seccion de la pagina de INICIO*/
/* Mobile */
@media (max-width: 767px) {
  .flex-form {
    margin: 0;
  }
  .col {
    width: 90%;
  }
  button.btn.btn-primary {
    margin-top: 20px;
    padding: 10px 80px;
  }
  textarea.form-control {
    height: 50px !important;
  }
  .textcont1 {
    text-align: center;
    padding: 0px 10px;
  }
  .textcont2 {
    height: 333px;
    overflow-y: auto;
    width: 100% !important;
    padding: 0px 20px;
  }
  .contactanosc {
    flex-direction: column !important;
    gap: 50px;
  }
  .formis2 {
    padding: 0px 20px;
    gap: 40px;
  }
  .formis {
    height: 50vh;
  }
  .clasemedia {
    height: 50vh !important;
    padding: 0px 20px;
  }
  .columna {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .espacio {
    margin-bottom: 50px;
  }
  .titulo-s3 {
    font-size: 30px;
  }
  .pregunta-s3 {
    font-size: 25px !important;
  }
  .espacioF {
    margin-bottom: 20px;
  }
  .nav {
    display: none;
  }
  #logopct {
    display: none;
  }
  .title-mid {
    display: none;
  }
  #imagen-fondo {
    height: 50vh !important;
  }
  .btn-mas {
    display: none;
  }
  .caja-padre {
    flex-direction: column;
  }
  .caja-hija {
    width: 100% !important;
    padding: 0px 20px;
  }
  .caja-hija p {
    text-align: center;
  }
  .hijo-box h4 {
    display: none;
  }
  .hijo-box {
    padding-left: 0px !important;
  }
  .navbar.navbar-dark.bg-dark.fixed-top {
    display: block;
  }
  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: #232221 !important;
    -webkit-box-shadow: 0px 5px 7px 0px rgb(35, 34, 33);
    -moz-box-shadow: 0px 5px 7px 0px rgb(35, 34, 33);
    box-shadow: 0px 5px 7px 0px rgb(35, 34, 33);
  }
  #formcont {
    background-color: #232221;
    color: aliceblue;
    padding: 10px 15px;
  }
}
/*=====================================================*/
/*=====================================================*/
/*===================CONTACTO==========================*/
/*=====================================================*/
/*=====================================================*/
#formcont {
  background-color: #232221;
  color: aliceblue;
  padding: 50px 0px;
}
#formcont .titlecont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
#formcont .textcont2 {
  width: 40%;
  text-align: center;
}

.contactanosc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.contactanosc .formis2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactanosc .hijo-a {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactanosc .hijo-b {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactanosc .hijo-c {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contactanosc img {
  width: 35px;
  height: 29px;
  margin-right: 1%;
}

.clasemedia {
  display: flex;
  flex-direction: column;
  height: 15em;
  justify-content: space-between;
}

/*==================================================*/
/*==================SOBRE NOSOTROS==================*/
/*==================================================*/
#contenido-sobrenos {
  background-color: #232221;
  color: aliceblue;
  padding-top: 50px;
  padding-bottom: 50px;
}
#contenido-sobrenos .sobre-nosotros1 {
  display: flex;
  justify-content: space-between;
}
#contenido-sobrenos .sobre-nosotros2 {
  display: flex;
  justify-content: space-between;
}
#contenido-sobrenos .sobre-nosotros3 {
  display: flex;
  justify-content: space-between;
}
#contenido-sobrenos .titulo-nos {
  margin-left: 3%;
  margin-top: 10%;
  margin-bottom: 10%;
}
#contenido-sobrenos .parrafo-nos {
  width: 50%;
  margin-right: 3%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 26px;
}

/*================================================*/
/*=================SECCION CONSEJOS===============*/
/*================================================*/
#contenido-consejos {
  display: flex;
  background-color: #232221;
  color: aliceblue;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#contenido-consejos .seccion-consejos1 {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}
#contenido-consejos .texto-con {
  font-size: 16px;
}
#contenido-consejos .seccion-consejos2 {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px;
}
#contenido-consejos .texto-con2 {
  font-size: 16px;
}

/*================================================*/
/*=================SECCION FAQ====================*/
/*================================================*/
#preguntas-frecuentes {
  background-color: #232221;
  color: aliceblue;
  text-align: center;
  padding-bottom: 50px;
}
#preguntas-frecuentes .div-hijopf {
  margin-bottom: 10%;
}
#preguntas-frecuentes .titulo-pf {
  margin-bottom: 10%;
  padding-top: 30px;
  color: #B89840;
}
#preguntas-frecuentes .div-hijopf p {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

/*======================================================*/
/*aca inicia el FOOTER de la page*/
/*======================================================*/
#seccion4 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#seccion4 .titulo-s4 {
  text-align: center;
  font-size: 16px;
  color: #B89841;
}
#seccion4 .subs4 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
#seccion4 .caja-padre2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#seccion4 .hijo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
}
#seccion4 img {
  width: 35px;
  height: 29px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
