/*================================================*/
         /*=================SECCION CONSEJOS===============*/
         /*================================================*/

         #accordionExample{
          display:none;
         }



         #contenido-consejos {
            display: flex;
            background-color: #232221;
            color: aliceblue;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
            .seccion-consejos {
             height: 70%;
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             padding: 50px;
             gap: 100px;
             .texto-con {
              font-size: 25px;
              width: 100%;
              .titulo-sejo{
                color: #B89841;
                font-size: 40px !important;
              }
            }
           }
           
           }

           /*=================*/
                /*MOBILE*/
           /*=================*/


          @media (max-width: 767px) {
          #contenido-consejos{
            display:none;
          }

          #accordionExample{
            display: block;
          }
          } 