/*================================================*/
         /*=================SECCION FAQ====================*/
         /*================================================*/
         
         #preguntas-frecuentes {
            background-color: #232221;
            color: aliceblue;
            text-align: center;
            padding-bottom: 50px;
            .div-hijopf {
             margin-bottom: 10%;
           }
           .titulo-pf {
             margin-bottom: 10%;
             padding-top: 30px;
             color: #B89840;
           }
           .div-hijopf p {
             width: 50%;
             margin: 0 auto;
             padding-top: 20px;
           }
          }
          
         