/*==================================================*/
         /*==================SOBRE NOSOTROS==================*/
         /*==================================================*/


         #contenido-sobrenos {
            background-color: #232221;
            color: aliceblue;
            padding-top: 50px;
            padding-bottom: 50px;
            .sobre-nosotros1 {
             display: flex;
             justify-content: space-between;
           }
           .sobre-nosotros2 {
             display: flex;
             justify-content: space-between;
           }
           .sobre-nosotros3 {
             display: flex;
             justify-content: space-between;
           }
           .titulo-nos {
             margin-left: 3%;
             margin-top: 10%;
             margin-bottom: 10%;
           }
           .parrafo-nos {
             width: 50%;
             margin-right: 3%;
             margin-top: 10%;
             margin-bottom: 10%;
             font-size: 26px;
           }
           
          }

           /*=================*/
         /*MOBILE*/
    /*=================*/

          @media (max-width: 767px) {
          
          } 
 