  @charset "UTF-8";
         * {
           margin: 0;
           padding: 0;
           scroll-behavior: smooth;
         }

         * {
          margin: 0;
          padding: 0;
        }
      
        @import "footer";

        @import "inicio";

        @import "header";

        @import "contacto";

        @import "sobrenosotros";

        @import "consejos";

        @import "faQ";


           
         /* Mobile */
         
         @media (max-width: 767px) {   
         
          .flex-form{
            margin: 0;
          }

          .col {
            width: 90%;
        }

        button.btn.btn-primary {
          margin-top: 20px;
          padding: 10px 80px;
      }


      textarea.form-control{
        height: 50px !important;
      }

           .textcont1{
             text-align: center;
             padding: 0px 10px;
           }
         
        
           .textcont2{
             height: 333px;
             overflow-y: auto;
             width: 100% !important;
             padding: 0px 20px;
           }
         
         
           .contactanosc{
             flex-direction: column !important;
             gap:50px
           }
         
         
           .formis2{
             padding: 0px 20px;
             gap: 40px;
           }
         
         
          .formis{
               height: 50vh;
           }
         
           .clasemedia{
             height: 50vh !important;
             padding: 0px 20px;
           }
         
           .columna {
             display: flex;
             flex-direction: column;
             margin-bottom: 20px;
           }
           .espacio {
             margin-bottom: 50px;
           }
           .titulo-s3 {
             font-size: 30px;
           }
           .pregunta-s3 {
             font-size: 25px !important;
           }
           .espacioF {
             margin-bottom: 20px;
           }
           
           .nav{
             display: none;
           }
         
           #logopct{
             display: none;
           }
         
           .title-mid{
             display: none;
           }
         
           #imagen-fondo{
             height: 50vh !important;
           }
         
           .btn-mas{
             display: none;
           }
         
           .caja-padre{
             flex-direction: column;
         
           }
         
           .caja-hija {
             width: 100% !important;
             padding: 0px 20px;
         }
         
         .caja-hija p{
           text-align: center;
         }
         
         .hijo-box h4{
           display: none;
         }
         
         .hijo-box{
           padding-left: 0px !important;
         }
         
         .navbar.navbar-dark.bg-dark.fixed-top{
           display: block;
         }
         
         .bg-dark {
           --bs-bg-opacity: 1;
           background-color: #232221 !important;
           -webkit-box-shadow: 0px 5px 7px 0px rgba(35,34,33,1);    
           -moz-box-shadow: 0px 5px 7px 0px rgba(35,34,33,1);
           box-shadow: 0px 5px 7px 0px rgba(35,34,33,1);
         }
         
         #formcont {
           background-color: #232221;
           color: aliceblue;
           padding: 10px 15px;
         }
         
         }
         
         