  @charset "UTF-8";
         * {
           margin: 0;
           padding: 0;
           scroll-behavior: smooth;
         }

         * {
          margin: 0;
          padding: 0;
        }
      
        @import "footer";

        @import "inicio";

        @import "header";

        @import "contacto";

        @import "sobrenosotros";

        @import "consejos";

        @import "faQ";

         
         